<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Face Recognition</h1>
        <!-- Upload Image -->
        <form action="/faces_recognition/" method="post" enctype="multipart/form-data">
            <input type="file" name="image_upload" class="form-control mt-3 mb-3">
            <button type="submit" class="btn btn-primary">Recognize Faces</button>
        </form>
        <!-- Capture Image -->
        <form action="/capture_and_recognize_faces/">
            <button type="submit" class="btn btn-success mt-3 mb-3">Capture and Recognize Faces</button>
        </form>
        <!-- Upload Location -->
        <form action="/upload_location/" method="post">
            <input type="number" step="0.000001" name="latitude" placeholder="Latitude" class="form-control mt-3 mb-3">
            <input type="number" step="0.000001"
